@font-face {
  font-family: Mont;
  src: url(/fonts/Mont-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: sans-serif;
}

@font-face {
  font-family: PP-Hatton;
  src: url(/fonts/PP-Hatton-Medium-500.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: serif;
}
